.removeHyperlink{
    text-decoration: none;
    color: dodgerblue;
}
.removeHyperlinkHome{
    text-decoration: none;
    color:white;
}
.removeHyperlinkB{
    text-decoration: none;
    color:black;
}