.RemoveHyperlink{
    text-decoration: none;
    color: white;
}
.Center{
    max-width: 30%;
    height: fit-content;
    padding-top: 5%;
    margin: auto;
}
img{
    max-width: 100%;
    height: auto;
    padding-bottom: 10%;
}