.RemoveHyperlink{
    text-decoration: none;
    color: white;
}
.Center{
    max-width: 20%;
    min-width: fit-content;
    height: fit-content;
    padding-top: 5%;
    align-items: center;
}
.icon{
    max-width : 100%;
    height: auto;
}
