.Center{
    width: fit-content;
    height: fit-content;
    padding-top: 15%;
    margin: auto;
}
.Login{
    max-width: 20%;
    min-width: fit-content;
    height: fit-content;
    margin-top:5%;
    margin-left:auto;
    margin-right: auto;
}
.Bottom{
    max-width: 20%;
    height: fit-content;
    margin-top:1%;
    margin-left:auto;
    margin-right: auto;
}
.CardHeight{
    z-index: 2;
}
.removeHyperlink{
    text-decoration: none;
    color: dodgerblue;
}
.icon{
    max-width : 100%;
    height: auto;
}