.grid-container{
    display: grid;
    grid-template-columns: auto;
    padding: 5px;
    margin-top:10px;

}
p{
    margin-top: 2em;
}
img{
    width: auto;
    height: 250px;
    padding-bottom: 10%;
}
.cardsize {
    width: fit-content;
    align-content: center;
    margin: auto;
    justify-content: center;
}